@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-gray-800 bg-white;
  }
}

.google-shadow {
  box-shadow: 0 4px 6px -1px rgba(66, 133, 244, 0.1), 0 2px 4px -1px rgba(66, 133, 244, 0.06);
}
